@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@400;500;700&display=swap');

$body-bg: #ffffff;
$bg-color: #2a2a2a;
$white: #ffffff;
$gray: #afb1bd;
$light-gray: #4a4a4a;
$simple-gray: #f0f0f5;
$footer-color: #e5e5e5;
$btn-color: #f67599;
$sizes: (
  25: 25%,
  50: 50%,
  75: 75%,
  100: 100%,
);

html {
  font-size: 16px;
  height: 100%;
}
body {
  height: 100%;
  background-color: $body-bg;
}
.d-none {
  display: none;
}
.d-inline {
  display: inline;
}
.d-inline-block {
  display: inline-block;
}
.d-block {
  display: block;
}
.d-flex {
  display: flex;
}

.grid {
  display: grid;
}

/* flex、alignment 與 cursor */
.flex-column {
  flex-direction: column;
}

.flex-grow {
  flex-grow: 1;
}
.justify-content-start {
  justify-content: flex-start;
}
.justify-content-end {
  justify-content: flex-end;
}
.justify-content-center {
  justify-content: center;
}
.justify-content-between {
  justify-content: space-between;
}
.justify-content-around {
  justify-content: space-around;
}
.align-content-start {
  align-content: flex-start;
}
.align-content-end {
  align-content: flex-end;
}
.align-content-center {
  align-content: center;
}
.align-items-start {
  align-items: flex-start;
}
.align-items-end {
  align-items: flex-end;
}
.align-items-center {
  align-items: center;
}
.items-stretch {
  align-items: stretch;
}
.text-center {
  text-align: center;
}
.text-right {
  text-align: right;
}
.text-left {
  text-align: left;
}
.cursor-pointer {
  cursor: pointer;
}

/* margin */
.m-4 {
  margin: 1rem;
}

.mb-4 {
  margin-bottom: 1rem;
}

.mb-8 {
  margin-bottom: 2rem;
}

.mb-12 {
  margin-bottom: 3rem;
}

.mb-16 {
  margin-bottom: 4rem;
}

.mb-36 {
  margin-bottom: 9rem;
}

.mt-4 {
  margin-top: 1rem;
}

.mt-6 {
  margin-top: 1.5rem;
}

.mr-2 {
  margin-right: 0.5rem;
}

.mr-5 {
  margin-right: 1.25rem;
}

.my-4 {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

/* padding */
.pt-6 {
  padding-top: 1.5rem;
}

.pl-4 {
  padding-left: 1rem;
}

.py-3 {
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
}

/* bord-bottom*/
.line {
  height: 1px;
  width: 60px;
  background-color: #000;
}

/* circle */
.circle {
  height: 24px;
  width: 24px;
  border: 1px solid $gray;
  border-radius: 24px;
  color: $gray;
}

/* FormAddress */

.form-container {
  width: 100%;
  margin-bottom: 3rem;
  display: grid;
  grid-row-gap: 1.5rem;
  grid-auto-rows: minmax(4rem, auto);
}

.form-row {
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-column-gap: 1.875rem;
}

select {
  color: #999999;
}
select option {
  color: black;
}

label {
  margin-bottom: 0.5rem;
  font-weight: bold;
  font-size: 12px;
  line-height: 16px;
  color: #808080;
}

.form-half {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-column-gap: 1.875rem;
}

/* Form */
.form-type {
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

.input-border {
  border: 1px solid $light-gray;
  border-radius: 4px;
}

::-webkit-input-placeholder {
  /* Chrome, Safari */
  color: #999999;
}

.radio-container {
  padding: 1.25rem;
  margin-bottom: 1.5rem;
  display: flex;
  align-items: center;
  border: 1px solid $simple-gray;
  border-radius: 4px;
  &:focus,
  &:hover {
    border: 1px solid $bg-color;
  }
}

.deliver-title {
  font-size: 14px;
  line-height: 20px;
  color: #000000;
}

.deliver-price {
  font-size: 12px;
  line-height: 16px;
  color: #000000;
}

.radio-input {
  width: 20px;
  height: 20px;
  opacity: 1;
}

input[type='radio']:after {
  width: 20px;
  height: 20px;
  content: '';
  border-radius: 20px;
  display: inline-block;
  visibility: visible;
  background: #ffffff;
  border: 1px solid #222222;
}

input[type='radio']:checked:after,
input[type='radio']:hover:after {
  width: 8px;
  height: 8px;
  background-color: #ffffff;
  content: '';
  display: inline-block;
  visibility: visible;
  border: 6px solid $bg-color;
}